cloud_id    = "your-cloud-id"
folder_id   = "your-folder-id"
name_prefix = "project-dev"

subnets = {
  "project-dev-subnet" = ["192.168.11.0/24"]
}

instance_resources = {
  cores  = 2
  memory = 2
}

